Flask 
pymongo 
flask-jwt-extended 
flask-socketio
flask-mail
python-dotenv
gunicorn
flask_cors
bcrypt
authlib
certifi
requests
Flask 
pymongo 
flask-jwt-extended 
flask-socketio
flask-mail
python-dotenv
gunicorn
flask_cors
bcrypt
authlib
certifi
requests
uuid
transformers
langchain
langchain_community
openai
vaderSentiment
langchain_openai
pinecone
sentence_transformers
flask_login
requests_oauthlib
opencv-python
pandas
numpy
matplotlib
seaborn
fpdf
huggingface_hub
sounddevice
openai-whisper
edge-tts
pydub
soundfile
langchain_openai
openpyxl
elevenlabs
langchain_google_genai
langchain-huggingface
faiss-cpu
schedule
google-genai
gunicorn
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
tensorflow-cpu --index-url https://download.pytorch.org/whl/cpu
tf-keras