Flask 
pymongo 
flask-jwt-extended 
flask-socketio
flask-mail
python-dotenv
gunicorn
flask_cors
bcrypt
authlib
certifi
requests
uuid
transformers
langchain
langchain_community
openai
vaderSentiment
pandas
opencv-python
requests_oauthlib
flask_login
langchain_openai
tensorflow
fpdf