absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
astunparse
async-timeout
attrs
Authlib
bcrypt
bidict
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dataclasses-json
distro
dnspython
edge-tts
elevenlabs
et_xmlfile
exceptiongroup
filelock
filetype
Flask
flask-cors
Flask-JWT-Extended
Flask-Mail
flatbuffers
fonttools
fpdf
frozenlist
fsspec
gast
google-pasta
googleapis-common-protos
greenlet
grpcio
gunicorn
h11
h5py
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
ml_dtypes
more-itertools
mpmath
multidict
mypy_extensions
namex
networkx
numba
numpy
oauthlib
openai
opencv-python
openpyxl
opt_einsum
optree
orjson
packaging
pandas
pillow
pinecone
pinecone-plugin-assistant
pinecone-plugin-interface
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydantic-settings
pydub
Pygments
PyJWT
pymongo
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
rich
rsa
safetensors
schedule
scikit-learn
scipy
seaborn
sentence-transformers
six
sniffio
SQLAlchemy
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
tiktoken
tokenizers
tqdm
transformers
typing_extensions
typing-inspect
typing-inspection
tzdata
urllib3
uuid
vaderSentiment
websockets
Werkzeug
wheel
wrapt
wsproto
yarl
zstandard
google-genai
langdetect
langchain-huggingface
tf-keras
faiss-cpu
gunicorn
tensorflow
pyaudioop